html,body{margin:0;height:100%;background:#fff;overflow:hidden;font-family:"Microsoft YaHei";font-size:14px;color:#333;}
body[maximize]{border-radius:0}
a{color:#333;text-decoration:none}
a:focus,a:hover{color:#0a8}
/*滚动条*/
@set y-scrollbar{
	.base{width:8px;}
	.base:disabled{}
	.next-page,
	.prev-page{background: url('images/scrollbar_bg.png');}
	.next{background: url('images/scrollbar_next.png');}
	.next:hover,
	.next:active,
	.next:disabled{background: url('images/scrollbar_next_hover.png');}

	.prev{background: url('images/scrollbar_prev.png');}
	.prev:hover,
	.prev:active,
	.prev:disabled{background: url('images/scrollbar_prev_hover.png');}

	.slider{background-image: url('images/scrollbar.png'); background-repeat: expand;  background-position: 10px 0 10px 0px;}
	.slider:hover{background-image: url('images/scrollbar_hover.png');}
	.slider:active{}
	.slider:disabled{}
}

.yscroll{vertical-scrollbar:y-scrollbar;}

#container{flow:"1 1" "2 3" "2 4"; width: *; height: *;}
#header{width: *;flow:horizontal; background-color: #0a8; overflow:hidden; cursor:default; height: 52px;}
#header{behavior:windowCommand;}
#navbar{flow:vertical;width: 180px;height:*;background-color: #272636;}
#bodyer{width: *;height: *; overflow: auto;}
#footer{width: *;background-color: #f5f5f5;font-size:12px;padding:5px 10px;border-top:1px solid #ddd;text-align:right; height:12px;}
#footer{behavior:windowCommand;}

#header .logo{width: 180px;}
#header .nav{flow:horizontal; width: *; list-style: none; margin: 0; padding: 0;}
#header .tool{width: 80px; text-align: right;}

.logo img{float: left; margin: 10px;}

.nav li{background-color: #F00;}
.nav a{color: #FFF; text-decoration: none; line-height: 52px; padding: 0 10px; font-weight: bold;cursor:default;}
.nav a[selected=true]{background-color: #1BA35F;}
.nav a:hover{background-color: #1BA35F;}

.tool a{display:inline-block; width:max-intrinsic;height:14px;font-family:"Marlett";font-size:14px;padding:4px;color:#fff;cursor:default;}
.tool a[command]:hover{background:#6ebccf;}
.tool a[command]:active{background:#FF0000;} 
.tool a[command="window-restore"]{content:"2";}


#navbar .navbar-header{width: *; padding:10px 0px 10px 20px; color: #aeb9c2;border-bottom: 1px solid #30373f;}
#navbar .navbar-bodyer{flow:vertical; height: *; width: *;}
#navbar .navbar-footer{flow:horizontal; height: 78px; width: *; border-top: 1px solid #30373f; text-align: center;}

/*navbar-bodyer*/
.navbar-bodyer a{display:block; color: #fff; text-decoration: none; cursor:default; padding: 8px 10px 8px 40px; background-repeat: no-repeat; background-position: 17px 8px; margin-bottom: 1px;font-size: 12px;}
.navbar-bodyer a[selected=true],.navbar-bodyer a[selected=true]:hover{ color: #FFF; background-color: #0a8;}
.navbar-bodyer a:hover{color: #FFF; background-color: #3f464e;}

.navbar-bodyer a.icon-home{background-image: url('images/icons/home.png');}
.navbar-bodyer a[selected=true].icon-home,.navbar-bodyer a.icon-home:hover{background-image: url('images/icons/home-white.png');}
.navbar-bodyer a.icon-work{background-image: url('images/icons/work.png');}
.navbar-bodyer a[selected=true].icon-work,.navbar-bodyer a.icon-work:hover{background-image: url('images/icons/work-white.png');}
.navbar-bodyer a.icon-plan{background-image: url('images/icons/plan.png');}
.navbar-bodyer a[selected=true].icon-plan,.navbar-bodyer a.icon-plan:hover{background-image: url('images/icons/plan-white.png');}
.navbar-bodyer a.icon-sell{background-image: url('images/icons/sell.png');}
.navbar-bodyer a[selected=true].icon-sell,.navbar-bodyer a.icon-sell:hover{background-image: url('images/icons/sell-white.png');}
.navbar-bodyer a.icon-order{background-image: url('images/icons/order.png');}
.navbar-bodyer a[selected=true].icon-order,.navbar-bodyer a.icon-order:hover{background-image: url('images/icons/order-white.png');}
.navbar-bodyer a.icon-project{background-image: url('images/icons/project.png');}
.navbar-bodyer a[selected=true].icon-project,.navbar-bodyer a.icon-project:hover{background-image: url('images/icons/project-white.png');}
.navbar-bodyer a.icon-user{background-image: url('images/icons/user.png');}
.navbar-bodyer a[selected=true].icon-user,.navbar-bodyer a.icon-user:hover{background-image: url('images/icons/user-white.png');}

/*navbar-footer*/
.navbar-footer a{display:inline-block; width: 50px; color: #a9b7b7; padding-top: 30px; margin-top: 10px; font-size: 12px; text-decoration: none; cursor:default; text-align: center;background-repeat: no-repeat; background-position: center 8px;}
.navbar-footer a:hover{color: #FFF;}
.navbar-footer a.icon-setup{background-image: url('images/icons/setup.png');}
.navbar-footer a.icon-setup:hover{background-image: url('images/icons/setup-white.png');}
.navbar-footer a.icon-help{background-image: url('images/icons/help.png');}
.navbar-footer a.icon-help:hover{background-image: url('images/icons/help-white.png');}
.navbar-footer a.icon-logout{background-image: url('images/icons/logout.png');}
.navbar-footer a.icon-logout:hover{background-image: url('images/icons/logout-white.png');}



/*通用CSS*/

/*面板*/
.panel{}
.panel-bodyer{height: 100%%;background-color: #FFF; border: 1px solid #ddd;}
.panel-header, .panel-footer{padding: 5px 10px; background-color:#f5f7f9;}
.panel-header{border-left: 1px solid #ddd;border-right: 1px solid #ddd;border-top: 1px solid #ddd;}
.panel-footer{border-left: 1px solid #ddd;border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;}
.panel-primary>.panel-bodyer{border-color:#167ccb}
.panel-primary>.panel-header,.panel-primary>.panel-footer{color:#fff;background-color:#188ae2;border-color:#167ccb;}
.panel-success>.panel-bodyer{border-color:#0eac5c;}
.panel-success>.panel-header,.panel-success>.panel-footer{color: #fff;background-color:#10c469;border-color:#0eac5c;}
.panel-info>.panel-bodyer{border-color:#21afda;}
.panel-info>.panel-header,.panel-info>.panel-footer{color: #fff;background-color:#35b8e0;border-color:#21afda;}
.panel-warning>.panel-bodyer{border-color:#f8c038;}
.panel-warning>.panel-header,.panel-warning>.panel-footer{color: #fff;background-color:#f9c851;border-color:#f8c038;}
.panel-danger>.panel-bodyer{border-color:#ff4242;}
.panel-danger>.panel-header,.panel-danger>.panel-footer{color: #fff;background-color:#ff5b5b;border-color:#ff4242;}
.panel-purple>.panel-bodyer{border-color:#4a59b4}
.panel-purple>.panel-header,.panel-purple>.panel-footer{color:#fff;background-color:#5b69bc;border-color:#4a59b4}
.panel-pink>.panel-bodyer{border-color:#ff71c1;}
.panel-pink>.panel-header,.panel-pink>.panel-footer{color: #fff;background-color:#ff8acc;border-color:#ff71c1;}

/*选项*/
.tabs{behavior:tabs;}
.tabs>.strip{flow:horizontal; width: 100%%;}
.tabs>.strip>div{border-bottom: 1px solid #ddd; padding: 6px 0 5px 0;}
.tabs>.strip>div.split{width: 5px;}
.tabs>.strip>div.other{width: 100%%;}
.tabs>.strip>[panel]{padding: 5px 10px;max-width:auto; border: 1px solid #ddd;border-top-left-radius: 3px;border-top-right-radius: 3px;}
.tabs>.strip>[panel][selected]{border-bottom: 0px;}
.tabs>.tabs-bodyer{padding: 10px;display: none;}
.tabs>.tabs-bodyer[selected]{display: block;}

.tabs.tabs-primary>.strip>div{border-color:#188ae2;}
.tabs.tabs-success>.strip>div{border-color:#10c469;}
.tabs.tabs-info>.strip>div{border-color:#35b8e0;}
.tabs.tabs-warning>.strip>div{border-color:#f9c851;}
.tabs.tabs-danger>.strip>div{border-color:#ff5b5b;}
.tabs.tabs-purple>.strip>div{border-color:#5b69bc;}

.tabs-tag{behavior:tabs;}
.tabs-tag>.strip{flow:horizontal; width: 100%%;}
.tabs-tag>.strip>div{border-bottom: 1px solid #ddd; padding: 5px 0;}
.tabs-tag>.strip>div.other{width: 100%%;}
.tabs-tag>.strip>[panel]{padding: 5px 10px;max-width:auto; border-bottom: 1px solid #ddd;}
.tabs-tag>.strip>[panel][selected]{border-bottom:2px solid #188ae2;color:#188ae2;}
.tabs-tag>.tabs-bodyer{padding: 10px;display: none;}
.tabs-tag>.tabs-bodyer[selected]{display: block;}

.tabs-box{behavior:tabs; flow:horizontal;}
.tabs-box>.strip{height: 100%%; width: 100px; min-height: 100px;}
.tabs-box>.strip>div{border-right: 1px solid #ddd; padding: 5px 10px;}
.tabs-box>.strip>div.other{height: 100%%;}
.tabs-box>.strip>[panel]{padding: 5px 10px;max-height:auto; border-right: 1px solid #ddd;}
.tabs-box>.strip>[panel][selected]{border-right:2px solid #188ae2;color:#188ae2;}
.tabs-box>.tabs-bodyer{padding: 5px 10px;display: none;height: 100%%;min-height: 100px;}
.tabs-box>.tabs-bodyer[selected]{display: block;}

/*外间距，内间距*/
.padding{padding: 10px;}
.padding-top{padding-top: 10px;}
.padding-right{padding-right: 10px;}
.padding-bottom{padding-bottom: 10px;}
.padding-left{padding-left: 10px;}

.margin{margin: 10px;}
.margin-top{margin-top: 10px;}
.margin-right{margin-right: 10px;}
.margin-bottom{margin-bottom: 10px;}
.margin-left{margin-left: 10px;}

/*标签*/
.label{padding:1px 3px; color: #fff;border-radius:3px; display: block; text-align: center;}
.label-info{background-color: #35b8e0;}
.label-success{background-color: #10c469;}
.label-warning{background-color: #f9c851;}
.label-purple{background-color: #5b69bc;}
.label-pink{background-color: #ff8acc;}
.label-danger{background-color: #ff5b5b;}

.text-right{text-align:right}
.text-center{text-align:center}
.text-left{text-align:left}

/*按钮*/
.btn{display: inline-block;padding:5px 10px;font-size: 12px;font-weight: 400;line-height: 1.5;text-align: center;vertical-align: middle;cursor: pointer;background-image: none;border: 1px solid transparent;margin-top: 5px;margin-bottom: 5px;color: #333;background-color: #fff;border-color: #ccc; border-radius: 4px;}
.btn:hover{color: #333;background-color: #e6e6e6;border-color: #adadad;}
.btn:active{background:#eee;color:#bbb;}

.btn-primary{color:#fff;background-color:#188ae2;border-color:#167ccb;}
.btn-primary:hover{color:#fff;background-color:#136eb4;border-color:#167ccb;}
.btn-primary:active{color:#fff;background-color:#105a94;border-color: #167ccb;}

.btn-success{color: #fff;background-color:#10c469;border-color:#0eac5c;}
.btn-success:hover{color:#fff;background-color:#0c9550;border-color:#09743e}
.btn-success:active{color:#fff;background-color:#09743e;border-color:#0eac5c}

.btn-info{color: #fff;background-color:#35b8e0;border-color:#21afda;}
.btn-info:hover{color:#fff;background-color:#1e9dc4;border-color:#1984a5}
.btn-info:active{color:#fff;background-color:#1984a5;border-color:#21afda}

.btn-warning{color: #fff;background-color:#f9c851;border-color:#f8c038;}
.btn-warning:hover{color:#fff;background-color:#f7b820;border-color:#eba908}
.btn-warning:active{color:#fff;background-color:#eba908;border-color:#f8c038}

.btn-danger{color: #fff;background-color:#ff5b5b;border-color:#ff4242;}
.btn-danger:hover{color:#fff;background-color:#ff0404;border-color:#ff4242}
.btn-danger:active{color:#fff;background-color:#ff5b5b;border-color:#ff4242}

.btn-purple{color:#fff;background-color:#5b69bc;border-color:#4a59b4}
.btn-purple:hover{color:#fff;background-color:#4250a2;border-color:#384389}
.btn-purple:active{color:#fff;background-color:#384389;border-color:#4a59b4}

.btn-pink{color: #fff;background-color:#ff8acc;border-color:#ff71c1;}
.btn-pink:hover{color: #fff;background-color:#ff57b6;border-color:#ff33a6;}
.btn-pink:active{color: #fff;background-color: #ff33a6;border-color: #ff71c1;}

.btn-lg {padding: 10px 16px;font-size: 18px;line-height: 1.4;border-radius: 6px;}
.btn-bg {padding: 6px 12px;font-size: 14px;border-radius:3px;}
.btn-xs {padding: 1px 5px;font-size: 12px;border-radius:3px;}
.btn{behavior:button}
.btn:disabled{opacity: 0.75; cursor: pointer;}
.btn:focus{outline:0}

.form-group{margin-bottom: 10px; flow:horizontal;}
.form-group label{width: 100px; display: block;}
.input{display:block;font-size: 12px; height:20px;background-color: #fff;color:#333;background-image: none;border: 1px solid #ddd;border-radius:2px;}
.input[type=text]{width: 200px;}
.input[type=date]{height:24px;padding: 1px;}
.input[type=time]{height:24px;padding: 1px;}
.input[type=number]{text-align: left;}
.input[type=decimal]{text-align: left;}
.input[type=currency]{text-align: left;}
select.input{padding: 1px; min-width: 100px;}
.input:focus,.input:hover{border-color:#ccc;outline:2px glow #efefef 1px;}
.input:empty{}


/*背景*/
.bg{background-color:#f5f7f9;}
.bg-primary{background-color:#188ae2;color:#fff}
.bg-success{background-color:#10c469;color:#fff}
.bg-info{background-color:#35b8e0;color:#fff}
.bg-warning{background-color:#f9c851;color:#fff}
.bg-danger{background-color:#ff5b5b;color:#fff}
.bg-pink{background-color:#ff8acc;color:#fff}
.bg-purple{background-color:#5b69bc;color:#fff}
.bg-inverse{background-color:#3b3e47;color:#fff}
.bg-dark{background-color:#282828;color:#fff}
.bg-white{background-color:#fff;color:#6a6c6f}

/*文本*/
.text-primary{color:#188ae2}
.text-success{color:#10c469}
.text-info{color:#35b8e0}
.text-warning{color:#f9c851}
.text-danger{color:#ff5b5b}
.text-pink{color:#ff8acc}
.text-purple{color:#5b69bc}
.text-inverse{color:#3b3e47}
.text-dark{color:#282828}
.text-white{color:#fff}
.text-color{color:#6a6c6f}

/*字体*/
.text-large{font-size: 24px;}
.text-big{font-size: 16px;}
.text-default{font-size: 14px;}
.text-small{font-size: 12px;}
.text-little{font-size: 10px;}

.fonticon{font-family:"Wingdings";width:max-intrinsic;font-size: 36px;}
.fonticon2{font-family:"WINGDINGS 3";width:max-intrinsic;font-size: 36px;}
.fonticon3{font-family:"Marlett";width:max-intrinsic;font-size: 36px;}

/*表格*/
.table{width:100%;max-width:100%;border-collapse:collapse;border-spacing:0;font-size: 12px;}
.table th{border-bottom:2px solid #ddd;vertical-align:bottom;padding:8px;text-align:left}
.table td{border-top:1px solid #ddd;padding:8px;vertical-align:top}
.table-striped>tbody>tr:nth-child(odd){background-color:#f9f9f9}
.table-bordered{border-top:solid 1px #ddd;border-left:solid 1px #ddd;border-bottom:solid 1px #ddd;}
.table-bordered td,.table-bordered th{border-right:solid 1px #ddd}
.table-hover>tbody>tr:hover{background-color:#f5f5f5}
.table-condensed td,.table-condensed th{padding:5px}
.table-fixed{flow: table-fixed; width: 100%%; height: 100%%; behavior:grid;}
.table-fixed tbody{height: 100%%;vertical-scrollbar:y-scrollbar; overflow-y:auto;}

/*柱状图样式*/
.chart{flow:"1 2" "3 3"; width: 100%%; height:300px; margin-top: 20px;}
.chart-left{flow:vertical; width: 60px; height: 100%%;}
.chart-left>div{text-align: right; height: 100%%; padding-right: 5px;font-size: 12px;vertical-align:bottom;}
.chart-main{flow:horizontal; width: 100%%; height: 100%%; background-image: url('images/chart-bg.png'); background-size:100% 100%; background-repeat:no-repeat;}
.chart-main>div{height: 100%%; vertical-align: bottom;}
.chart-main .chart-line{background-color:#5cb85c; min-height: 1px; margin:0 10px; position: relative;}
.chart-main .chart-tips{font-size: 10px; position:absolute; top: -15px;}
.chart-bottom{flow:horizontal; width: 100%%;}
.chart-bottom>div{padding: 5px;font-size: 12px; text-align: center;}
.chart-bottom>div:first-child{width: 50px;}

/*网格*/
.line{display: block; width:*; flow:h-flow;}
/*box-1每行有1列，box-2每行有2列...*/
.box-1,.box-2,.box-3,.box-4,.box-5{min-height:1px;}
.box-1{width:100%;}
.box-2{width:50%;}
.box-3{width:33%;}
.box-3:nth-child(3n){width: 34%;}
.box-4{width:25%;}
.box-5{width:20%;}

.left{float: left;}
.right{float: right;}

/*加阴影 大量使用阴影会影响性能*/
.box-shadow{outline: 3px glow #ccc 1px;}

/*分页*/
.pager{background-color: #FFF; border: 1px solid #efefef; text-align: center;}

/*首页*/
.title{font-size: 16px; padding: 10px; background-color: #FFF; border: 1px solid #efefef;}
.border{border: 1px solid #efefef;}
.row1{flow:"1 2 3"; width: 100%%;}
.row1 .user{flow:"1 2"; width: 40%%; font-size: 14px; margin-right: 10px;background-color: #FFF; border: 1px solid #efefef;}
.row1 .panel{width: 30%%; height: 100%%;}

.user .face{width: 30%%; height:100%%; text-align: center; padding: 10px;}
.user .face a{width:100px; height: 100px; border:2px solid #FFF; border-radius: 50%; display: block; overflow: hidden; font-size: 16px; font-weight: bold; margin: auto; color: #FFF; text-decoration: none; line-height:100px; content: " ";}
.user .face a{background-repeat: no-repeat; background-position: center; background-size: 100% 100%;}
.user .face a:hover{content: "编辑头像"; border-color: #0a8;}
.user .info{width: 70%%; height:100%%;}
.user .info h3{margin:0; padding: 5px 0;}
.user .info p{margin:0; padding: 5px 0;}

.icon-32{background-repeat: no-repeat; width: 32px; height: 32px; display: block; line-height: 32px; content: "";}
.icon-jb{background-image: url('images/icon-jb.png');}
.icon-tz{background-image: url('images/icon-tz.png');}
.icon-user{background-image: url('images/icon-user.png');}

.row2{flow:"1 2"; width: 100%%;}
.row2 .panel{width: 50%%; height: 100%%;}

.row3{width: 100%%;}

.list{height: 100%%;}
