<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>电脑配置清单</title>
<style type="text/css">
body {margin: 0;}
#container{width: 600px; margin:0 auto;}
table{width: 100%;}
td{width: 33%;}
.header{width:100%;margin: 0 auto;margin-top: 40px;  }
.content{width:100%; margin: 20px auto; min-height: 300px;}
.prbeizhu{width:100%; margin: 20px auto; min-height: 50px;}
a {color: #009933;text-decoration: underline;}
a:hover {color: #FF6600;text-decoration: none;}
.footer{width:100%;margin: 0px auto; margin-bottom:0px;} 
</style>
</head>
<body>
<div id="container">
	<div class = "header">
		<table>
			<tr>
				<td>客户姓名:<b id="prname"></b></td>
				<td>联系方式:<b id="prtel"></b></td>
				<td><div id="prtime">&nbsp; &nbsp; &nbsp; 年&nbsp; 月&nbsp; 日</div></td>
			</tr>
		</table>
	</div>
	<div class="content" id="reports"></div>
	<div class="prbeizhu" id="prbeizhu"></div>
	<div class="footer">
		<table>
			<tr>
				<td>地址：松滋市王家桥镇麻水社区</td>
				<td>电话：07166696851</td>
				<td>手机：15671404230</td>
			</tr>
		</table>
	</div>
</div>
</body>
</html>

