html,body{margin:0;height:100%;background:#fff;overflow:hidden;font-family:"Microsoft YaHei";font-size:14px;color:#333;}
body[maximize]{border-radius:0}
a{color:#333;text-decoration:none}
a:focus,a:hover{color:#0a8}
/*滚动条*/
@set y-scrollbar{
	.base{width:10px;}
	.base:disabled{}
	.next-page{background-color:#999;}
	.prev-page{background-color:#999;}

	.next{font-family:"Marlett"; content: "5";background-color:#272636;}
	.next:hover{background-color:#3f464e;}
	.next:active{}
	.next:disabled{}

	.prev{font-family:"Marlett"; content: "6";background-color:#272636;}
	.prev:hover{background-color:#3f464e;}
	.prev:active{}
	.prev:disabled{}

	.slider{background-color:#272636;}
	.slider:hover{background-color:#3f464e;}
	.slider:active{}
	.slider:disabled{}
}

.yscroll{vertical-scrollbar:y-scrollbar;}

#header,#bodyer,#footer{width: *;}

#header{flow:horizontal; background-color: #0a8; overflow:hidden; cursor:default;}
#header{behavior:windowCommand;}
#header .logo{width: 180px;}
#header .nav{flow:horizontal; width: *; list-style: none; margin: 0; padding: 0;}
#header .tool{width: 80px; text-align: right;}

.logo img{float: left; margin: 10px;}

.nav li{background-color: #F00;}
.nav a{color: #FFF; text-decoration: none; line-height: 52px; padding: 0 10px; font-weight: bold;cursor:default;}
.nav a[selected=true]{background-color: #1BA35F;}
.nav a:hover{background-color: #1BA35F;}
.nav a{active-on!:$1(.nav a[selected=true]).selected = false, self.selected = true;}
.nav a{behavior:~includefile;}

.tool a{display:inline-block; width:max-intrinsic;height:14px;font-family:"Marlett";font-size:14px;padding:4px;color:#fff;cursor:default;}
.tool a[command]:hover{background:#6ebccf;}
.tool a[command]:active{background:#FF0000;} 
.tool a[command="window-restore"]{content:"2";}

#bodyer{flow:horizontal;height: *;}
#bodyer .navbar{flow:vertical;width: 180px;height:*;background-color: #272636;}
#bodyer .main{width: *;height:*;overflow: hidden;}

.navbar .navbar-bodyer{flow:vertical; height: *; width: *;}
.navbar .navbar-footer{flow:horizontal; height: 78px; width: *; border-top: 1px solid #30373f; text-align: center;}

/*navbar-bodyer*/
.navbar-bodyer a{display:block; color: #a9b7b7; text-decoration: none; cursor:default; padding: 8px 10px 8px 40px; background-repeat: no-repeat; background-position: 17px 8px; margin-bottom: 1px;font-size: 12px;}
.navbar-bodyer a[selected=true]{ color: #FFF; background-color: #3f464e;}
.navbar-bodyer a:hover{color: #FFF; background-color: #3f464e;}
.navbar-bodyer a{active-on!:$1(.navbar-bodyer a[selected=true]).selected = false,  self.selected = true;}
.navbar-bodyer a{behavior:~includefile;}

.navbar-bodyer a.icon-home{background-image: url('images/icons/home.png');}
.navbar-bodyer a[selected=true].icon-home,.navbar-bodyer a.icon-home:hover{background-image: url('images/icons/home-white.png');}
.navbar-bodyer a.icon-work{background-image: url('images/icons/work.png');}
.navbar-bodyer a[selected=true].icon-work,.navbar-bodyer a.icon-work:hover{background-image: url('images/icons/work-white.png');}
.navbar-bodyer a.icon-plan{background-image: url('images/icons/plan.png');}
.navbar-bodyer a[selected=true].icon-plan,.navbar-bodyer a.icon-plan:hover{background-image: url('images/icons/plan-white.png');}
.navbar-bodyer a.icon-sell{background-image: url('images/icons/sell.png');}
.navbar-bodyer a[selected=true].icon-sell,.navbar-bodyer a.icon-sell:hover{background-image: url('images/icons/sell-white.png');}
.navbar-bodyer a.icon-order{background-image: url('images/icons/order.png');}
.navbar-bodyer a[selected=true].icon-order,.navbar-bodyer a.icon-order:hover{background-image: url('images/icons/order-white.png');}
.navbar-bodyer a.icon-project{background-image: url('images/icons/project.png');}
.navbar-bodyer a[selected=true].icon-project,.navbar-bodyer a.icon-project:hover{background-image: url('images/icons/project-white.png');}
.navbar-bodyer a.icon-user{background-image: url('images/icons/user.png');}
.navbar-bodyer a[selected=true].icon-user,.navbar-bodyer a.icon-user:hover{background-image: url('images/icons/user-white.png');}

/*navbar-footer*/
.navbar-footer a{display:inline-block; width: 50px; color: #a9b7b7; padding-top: 30px; margin-top: 10px; font-size: 12px; text-decoration: none; cursor:default; text-align: center;background-repeat: no-repeat; background-position: center 8px;}
.navbar-footer a:hover{color: #FFF;}
.navbar-footer a.icon-setup{background-image: url('images/icons/setup.png');}
.navbar-footer a.icon-setup:hover{background-image: url('images/icons/setup-white.png');}
.navbar-footer a.icon-help{background-image: url('images/icons/help.png');}
.navbar-footer a.icon-help:hover{background-image: url('images/icons/help-white.png');}
.navbar-footer a.icon-logout{background-image: url('images/icons/logout.png');}
.navbar-footer a.icon-logout:hover{background-image: url('images/icons/logout-white.png');}

/*footer*/
#footer{background-color: #f5f5f5; font-size: 12px; padding: 5px 10px; border-top: 1px solid #ddd; text-align: right;}
#footer{behavior:windowCommand;}

/*通用CSS*/

/*外间距，内间距*/
.padding{padding: 10px;}
.padding-top{padding-top: 10px;}
.padding-right{padding-right: 10px;}
.padding-bottom{padding-bottom: 10px;}
.padding-left{padding-left: 10px;}

.margin{margin: 10px;}
.margin-top{margin-top: 10px;}
.margin-right{margin-right: 10px;}
.margin-bottom{margin-bottom: 10px;}
.margin-left{margin-left: 10px;}

/*背景*/
.bg{background-color:#f5f7f9;}
.bg-primary{background-color: #188ae2}
.bg-success{background-color: #10c469}
.bg-info{background-color: #35b8e0}
.bg-warning{background-color:#f9c851}
.bg-danger{background-color:#ff5b5b}
.bg-pink{background-color:#ff8acc}
.bg-purple{background-color:#5b69bc}
.bg-inverse, .bg-inverse a {color: #fff;}

/*文本*/
.text-primary{color: #188ae2}
.text-success{color: #10c469}
.text-info{color: #35b8e0}
.text-warning{color:#f9c851}
.text-danger{color:#ff5b5b}
.text-pink{color:#ff8acc}
.text-purple{color:#5b69bc}

/*字体*/
.text-large{font-size: 24px;}
.text-big{font-size: 16px;}
.text-default{font-size: 14px;}
.text-small{font-size: 12px;}
.text-little{font-size: 10px;}

/*标签*/
.label{padding:1px 3px; color: #fff;border-radius:3px; display: block; text-align: center;}
.label-info{background-color: #35b8e0;}
.label-success{background-color: #10c469;}
.label-warning{background-color: #f9c851;}
.label-purple{background-color: #5b69bc;}
.label-pink{background-color: #ff8acc;}
.label-danger{background-color: #ff5b5b;}

/*面板*/
.panel{background-color: #FFF; height: 100%%;}
.panel .panel-bodyer{height: 100%%;}
.panel .panel-header,.panel .panel-footer{padding: 5px 10px;}

/*按钮*/
.btn{display: inline-block;padding:5px 10px;font-size: 12px;font-weight: 400;line-height: 1.5;text-align: center;vertical-align: middle;cursor: pointer;background-image: none;border: 1px solid transparent;margin-top: 5px;margin-bottom: 5px;color: #333;background-color: #fff;border-color: #ccc; border-radius: 4px;transition:blend;}
.btn:hover{color: #333;background-color: #e6e6e6;border-color: #adadad;}
.btn:active{background:#eee;color:#bbb;}
.btn-primary{color:#fff;background-color: #337ab7;border-color: #2e6da4;}
.btn-primary:hover{color:#fff;background-color: #286090;border-color: #204d74;}
.btn-primary:active{color:#fff;background-color:#204d74;border-color:#122b40}
.btn-success{color: #fff;background-color: #5cb85c;border-color: #4cae4c;}
.btn-success:hover{color:#fff;background-color:#449d44;border-color:#398439}
.btn-success:active{color:#fff;background-color:#398439;border-color:#255625}
.btn-info{color: #fff;background-color: #5bc0de;border-color: #46b8da;}
.btn-info:hover{color:#fff;background-color:#31b0d5;border-color:#269abc}
.btn-info:active{color:#fff;background-color:#269abc;border-color:#1b6d85}
.btn-warning{color: #fff;background-color: #f0ad4e;border-color: #eea236;}
.btn-warning:hover{color:#fff;background-color:#ec971f;border-color:#d58512}
.btn-warning:active{color:#fff;background-color:#d58512;border-color:#985f0d}
.btn-danger{color: #fff;background-color: #d9534f;border-color: #d43f3a;}
.btn-danger:hover{color:#fff;background-color:#c9302c;border-color:#ac2925}
.btn-danger:active{color:#fff;background-color:#ac2925;border-color:#761c19}
.btn-lg {padding: 10px 16px;font-size: 18px;line-height: 1.4;border-radius: 6px;}
.btn-sm {padding: 6px 12px;font-size: 14px;border-radius:3px;}
.btn-xs {padding: 1px 5px;font-size: 12px;border-radius:3px;}
.btn{behavior:button}
.btn:disabled{opacity: 0.25;}
.btn:focus{outline:0}

/*表格*/
.table{width:100%;max-width:100%;border-collapse:collapse;border-spacing:0;font-size: 12px;}
.table th{border-bottom:2px solid #ddd;vertical-align:bottom;padding:8px;text-align:left}
.table td{border-top:1px solid #ddd;padding:8px;vertical-align:top}
.table-striped>tbody>tr:nth-child(odd)>td,.table-striped>tbody>tr:nth-child(odd)>th{background-color:#f9f9f9}
.table-bordered td,.table-bordered th{border:solid 1px #ddd}
.table-bordered th{border-bottom:2px solid #ddd}
.table-hover>tbody>tr:hover>td,.table-hover>tbody>tr:hover>th{background-color:#f5f5f5}
.table-condensed td,.table-condensed th{padding:5px}
.table-fixed{flow: table-fixed; width: 100%%; height: 100%%; behavior:grid;}
.table-fixed tbody{height: 100%%;vertical-scrollbar:y-scrollbar; overflow-y:auto;}


/*柱状图样式*/
.chart{flow:"1 2" "3 3"; width: 100%%; height:300px; margin-top: 20px;}
.chart-left{flow:vertical; width: 60px; height: 100%%;}
.chart-left>div{text-align: right; height: 100%%; padding-right: 5px;font-size: 12px;vertical-align:bottom;}
.chart-main{flow:horizontal; width: 100%%; height: 100%%; background-image: url('images/chart-bg.png'); background-size:100% 100%; background-repeat:no-repeat;}
.chart-main>div{height: 100%%; vertical-align: bottom;}
.chart-main .chart-line{background-color:#5cb85c; min-height: 1px; margin:0 10px; position: relative;}
.chart-main .chart-tips{font-size: 10px; position:absolute; top: -15px;}
.chart-bottom{flow:horizontal; width: 100%%;}
.chart-bottom>div{padding: 5px;font-size: 12px; text-align: center;}
.chart-bottom>div:first-child{width: 50px;}

/*网格*/
.line{display: block; width:*; flow:h-flow;}
/*box-1每行有1列，box-2每行有2列...*/
.box-1,.box-2,.box-3,.box-4,.box-5{min-height:1px;}
.box-1{width:100%;}
.box-2{width:50%;}
.box-3{width:33%;}
.box-3:nth-child(3n){width: 34%;}
.box-4{width:25%;}
.box-5{width:20%;}

.left{float: left;}
.right{float: right;}



/*container*/
.container{width: *; height: *; overflow: auto; background-color: #edf0f5;}
.title{font-size: 16px; background-color: #FFF; padding: 10px;}
.title, .row1>div{margin: 8px; outline: 3px glow #CCC 0px;} /*加阴影*/
.row1{flow:"1 2 3"; width: 100%%;}
.row1 .user{flow:"1 2"; width: 40%%; background-color: #FFF; font-size: 14px; margin-right: 10px;}
.row1 .panel{width: 30%%; height: 100%%;}

.user .face{width: 30%%; height:100%%; text-align: center; padding: 10px;}
.user .face a{width:100px; height: 100px; border:2px solid #FFF; border-radius: 50%; display: block; overflow: hidden; font-size: 16px; font-weight: bold; margin: auto; color: #FFF; text-decoration: none; line-height:100px; content: " ";}
.user .face a{background-repeat: no-repeat; background-position: center; background-size: 100% 100%;}
.user .face a:hover{content: "编辑头像"; border-color: #0a8;}
.user .info{width: 70%%; height:100%%;}
.user .info h3{margin:0; padding: 5px 0;}
.user .info p{margin:0; padding: 5px 0;}

.icon-32{background-repeat: no-repeat; width: 32px; height: 32px; display: block; line-height: 32px; content: "";}
.icon-jb{background-image: url('images/icon-jb.png');}
.icon-tz{background-image: url('images/icon-tz.png');}
.icon-user{background-image: url('images/icon-user.png');}

.row2{flow:"1 2"; width: 100%%;}
.row2>div{margin: 8px; outline: 3px glow #CCC 0px;} /*加阴影*/
.row2 .panel{width: 50%%; height: 100%%;}

.row3{width: 100%%;}
.row3>div{margin: 8px; outline: 3px glow #CCC 0px;} /*加阴影*/

.search,.list,.pager{margin: 8px; outline: 3px glow #CCC 0px; background-color: #FFF;}
.list{height: 100%%;}
